/target/classes/web/cmaps/78-EUC-H.bcmap
/target/classes/web/cmaps/78-EUC-V.bcmap
/target/classes/web/cmaps/78-H.bcmap
/target/classes/web/cmaps/78-RKSJ-H.bcmap
/target/classes/web/cmaps/78-RKSJ-V.bcmap
/target/classes/web/cmaps/78-V.bcmap
/target/classes/web/cmaps/78ms-RKSJ-H.bcmap
/target/classes/web/cmaps/78ms-RKSJ-V.bcmap
/target/classes/web/cmaps/83pv-RKSJ-H.bcmap
/target/classes/web/cmaps/90ms-RKSJ-H.bcmap
/target/classes/web/cmaps/90ms-RKSJ-V.bcmap
/target/classes/web/cmaps/90msp-RKSJ-H.bcmap
/target/classes/web/cmaps/90msp-RKSJ-V.bcmap
/target/classes/web/cmaps/90pv-RKSJ-H.bcmap
/target/classes/web/cmaps/90pv-RKSJ-V.bcmap
/target/classes/web/cmaps/Add-H.bcmap
/target/classes/web/cmaps/Add-RKSJ-H.bcmap
/target/classes/web/cmaps/Add-RKSJ-V.bcmap
/target/classes/web/cmaps/Add-V.bcmap
/target/classes/web/cmaps/Adobe-CNS1-0.bcmap
/target/classes/web/cmaps/Adobe-CNS1-1.bcmap
/target/classes/web/cmaps/Adobe-CNS1-2.bcmap
/target/classes/web/cmaps/Adobe-CNS1-3.bcmap
/target/classes/web/cmaps/Adobe-CNS1-4.bcmap
/target/classes/web/cmaps/Adobe-CNS1-5.bcmap
/target/classes/web/cmaps/Adobe-CNS1-6.bcmap
/target/classes/web/cmaps/Adobe-CNS1-UCS2.bcmap
/target/classes/web/cmaps/Adobe-GB1-0.bcmap
/target/classes/web/cmaps/Adobe-GB1-1.bcmap
/target/classes/web/cmaps/Adobe-GB1-2.bcmap
/target/classes/web/cmaps/Adobe-GB1-3.bcmap
/target/classes/web/cmaps/Adobe-GB1-4.bcmap
/target/classes/web/cmaps/Adobe-GB1-5.bcmap
/target/classes/web/cmaps/Adobe-GB1-UCS2.bcmap
/target/classes/web/cmaps/Adobe-Japan1-0.bcmap
/target/classes/web/cmaps/Adobe-Japan1-1.bcmap
/target/classes/web/cmaps/Adobe-Japan1-2.bcmap
/target/classes/web/cmaps/Adobe-Japan1-3.bcmap
/target/classes/web/cmaps/Adobe-Japan1-4.bcmap
/target/classes/web/cmaps/Adobe-Japan1-5.bcmap
/target/classes/web/cmaps/Adobe-Japan1-6.bcmap
/target/classes/web/cmaps/Adobe-Japan1-UCS2.bcmap
/target/classes/web/cmaps/Adobe-Korea1-0.bcmap
/target/classes/web/cmaps/Adobe-Korea1-1.bcmap
/target/classes/web/cmaps/Adobe-Korea1-2.bcmap
/target/classes/web/cmaps/Adobe-Korea1-UCS2.bcmap
/target/classes/web/images/annotation-check.svg
/target/classes/web/images/annotation-comment.svg
/target/classes/web/images/annotation-help.svg
/target/classes/web/images/annotation-insert.svg
/target/classes/web/images/annotation-key.svg
/target/classes/web/images/annotation-newparagraph.svg
/target/classes/web/images/annotation-noicon.svg
/target/classes/web/images/annotation-note.svg
/target/classes/web/images/annotation-paragraph.svg
/target/classes/web/cmaps/B5-H.bcmap
/target/classes/web/cmaps/B5-V.bcmap
/target/classes/web/cmaps/B5pc-H.bcmap
/target/classes/web/cmaps/B5pc-V.bcmap
/target/classes/web/cmaps/CNS1-H.bcmap
/target/classes/web/cmaps/CNS1-V.bcmap
/target/classes/web/cmaps/CNS2-H.bcmap
/target/classes/web/cmaps/CNS2-V.bcmap
/target/classes/web/cmaps/CNS-EUC-H.bcmap
/target/classes/web/cmaps/CNS-EUC-V.bcmap
/target/classes/CodeScans-view.fxml
/target/classes/com/daisydata/codescans/codeuploadsfx/CodeScansApplication$1.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodeScansApplication.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodeScansController.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodeScansWindow$1.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodeScansWindow.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodeUploads.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodingSection$CodingSet.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodingSection$Option.class
/target/classes/com/daisydata/codescans/codeuploadsfx/CodingSection.class
/target/classes/web/compressed.tracemonkey-pldi-09.pdf
/target/classes/com/daisydata/codescans/codeuploadsfx/DatabaseConnection.class
/target/classes/web/debugger.js
/target/classes/com/daisydata/codescans/codeuploadsfx/DocumentListPanel$1.class
/target/classes/com/daisydata/codescans/codeuploadsfx/DocumentListPanel.class
/target/classes/web/cmaps/ETen-B5-H.bcmap
/target/classes/web/cmaps/ETen-B5-V.bcmap
/target/classes/web/cmaps/ETenms-B5-H.bcmap
/target/classes/web/cmaps/ETenms-B5-V.bcmap
/target/classes/web/cmaps/ETHK-B5-H.bcmap
/target/classes/web/cmaps/ETHK-B5-V.bcmap
/target/classes/web/cmaps/EUC-H.bcmap
/target/classes/web/cmaps/EUC-V.bcmap
/target/classes/web/cmaps/Ext-H.bcmap
/target/classes/web/cmaps/Ext-RKSJ-H.bcmap
/target/classes/web/cmaps/Ext-RKSJ-V.bcmap
/target/classes/web/cmaps/Ext-V.bcmap
/target/classes/web/images/findbarButton-next.svg
/target/classes/web/images/findbarButton-previous.svg
/target/classes/web/standard_fonts/FoxitDingbats.pfb
/target/classes/web/standard_fonts/FoxitFixed.pfb
/target/classes/web/standard_fonts/FoxitFixedBold.pfb
/target/classes/web/standard_fonts/FoxitFixedBoldItalic.pfb
/target/classes/web/standard_fonts/FoxitFixedItalic.pfb
/target/classes/web/standard_fonts/FoxitSans.pfb
/target/classes/web/standard_fonts/FoxitSansBold.pfb
/target/classes/web/standard_fonts/FoxitSansBoldItalic.pfb
/target/classes/web/standard_fonts/FoxitSansItalic.pfb
/target/classes/web/standard_fonts/FoxitSerif.pfb
/target/classes/web/standard_fonts/FoxitSerifBold.pfb
/target/classes/web/standard_fonts/FoxitSerifBoldItalic.pfb
/target/classes/web/standard_fonts/FoxitSerifItalic.pfb
/target/classes/web/standard_fonts/FoxitSymbol.pfb
/target/classes/web/cmaps/GB-EUC-H.bcmap
/target/classes/web/cmaps/GB-EUC-V.bcmap
/target/classes/web/cmaps/GB-H.bcmap
/target/classes/web/cmaps/GB-V.bcmap
/target/classes/web/cmaps/GBK2K-H.bcmap
/target/classes/web/cmaps/GBK2K-V.bcmap
/target/classes/web/cmaps/GBK-EUC-H.bcmap
/target/classes/web/cmaps/GBK-EUC-V.bcmap
/target/classes/web/cmaps/GBKp-EUC-H.bcmap
/target/classes/web/cmaps/GBKp-EUC-V.bcmap
/target/classes/web/cmaps/GBpc-EUC-H.bcmap
/target/classes/web/cmaps/GBpc-EUC-V.bcmap
/target/classes/web/cmaps/GBT-EUC-H.bcmap
/target/classes/web/cmaps/GBT-EUC-V.bcmap
/target/classes/web/cmaps/GBT-H.bcmap
/target/classes/web/cmaps/GBT-V.bcmap
/target/classes/web/cmaps/GBTpc-EUC-H.bcmap
/target/classes/web/cmaps/GBTpc-EUC-V.bcmap
/target/classes/web/images/grab.cur
/target/classes/web/images/grabbing.cur
/target/classes/com/daisydata/codescans/codeuploadsfx/GuiTools$1.class
/target/classes/com/daisydata/codescans/codeuploadsfx/GuiTools$StaticMsg.class
/target/classes/com/daisydata/codescans/codeuploadsfx/GuiTools.class
/target/classes/web/cmaps/H.bcmap
/target/classes/web/cmaps/Hankaku.bcmap
/target/classes/web/cmaps/Hiragana.bcmap
/target/classes/web/cmaps/HKdla-B5-H.bcmap
/target/classes/web/cmaps/HKdla-B5-V.bcmap
/target/classes/web/cmaps/HKdlb-B5-H.bcmap
/target/classes/web/cmaps/HKdlb-B5-V.bcmap
/target/classes/web/cmaps/HKgccs-B5-H.bcmap
/target/classes/web/cmaps/HKgccs-B5-V.bcmap
/target/classes/web/cmaps/HKm314-B5-H.bcmap
/target/classes/web/cmaps/HKm314-B5-V.bcmap
/target/classes/web/cmaps/HKm471-B5-H.bcmap
/target/classes/web/cmaps/HKm471-B5-V.bcmap
/target/classes/web/cmaps/HKscs-B5-H.bcmap
/target/classes/web/cmaps/HKscs-B5-V.bcmap
/target/classes/com/daisydata/codescans/codeuploadsfx/JSLogListener.class
/target/classes/web/cmaps/Katakana.bcmap
/target/classes/web/cmaps/KSC-EUC-H.bcmap
/target/classes/web/cmaps/KSC-EUC-V.bcmap
/target/classes/web/cmaps/KSC-H.bcmap
/target/classes/web/cmaps/KSC-Johab-H.bcmap
/target/classes/web/cmaps/KSC-Johab-V.bcmap
/target/classes/web/cmaps/KSC-V.bcmap
/target/classes/web/cmaps/KSCms-UHC-H.bcmap
/target/classes/web/cmaps/KSCms-UHC-HW-H.bcmap
/target/classes/web/cmaps/KSCms-UHC-HW-V.bcmap
/target/classes/web/cmaps/KSCms-UHC-V.bcmap
/target/classes/web/cmaps/KSCpc-EUC-H.bcmap
/target/classes/web/cmaps/KSCpc-EUC-V.bcmap
/target/classes/web/standard_fonts/LiberationSans-Bold.ttf
/target/classes/web/standard_fonts/LiberationSans-BoldItalic.ttf
/target/classes/web/standard_fonts/LiberationSans-Italic.ttf
/target/classes/web/standard_fonts/LiberationSans-Regular.ttf
/target/classes/web/cmaps/LICENSE
/target/classes/web/standard_fonts/LICENSE_FOXIT
/target/classes/web/standard_fonts/LICENSE_LIBERATION
/target/classes/web/images/loading.svg
/target/classes/web/images/loading-dark.svg
/target/classes/web/images/loading-icon.gif
/target/classes/web/locale/locale.properties
/target/classes/main.fxml
/target/classes/module-info.class
/target/classes/web/cmaps/NWP-H.bcmap
/target/classes/web/cmaps/NWP-V.bcmap
/target/classes/build/pdf.js
/target/classes/build/pdf.js.map
/target/classes/build/pdf.sandbox.js
/target/classes/build/pdf.sandbox.js.map
/target/classes/build/pdf.worker.js
/target/classes/build/pdf.worker.js.map
/target/classes/com/daisydata/codescans/codeuploadsfx/ProcessUploads.class
/target/classes/web/cmaps/RKSJ-H.bcmap
/target/classes/web/cmaps/RKSJ-V.bcmap
/target/classes/web/cmaps/Roman.bcmap
/target/classes/web/images/secondaryToolbarButton-documentProperties.svg
/target/classes/web/images/secondaryToolbarButton-firstPage.svg
/target/classes/web/images/secondaryToolbarButton-handTool.svg
/target/classes/web/images/secondaryToolbarButton-lastPage.svg
/target/classes/web/images/secondaryToolbarButton-rotateCcw.svg
/target/classes/web/images/secondaryToolbarButton-rotateCw.svg
/target/classes/web/images/secondaryToolbarButton-scrollHorizontal.svg
/target/classes/web/images/secondaryToolbarButton-scrollPage.svg
/target/classes/web/images/secondaryToolbarButton-scrollVertical.svg
/target/classes/web/images/secondaryToolbarButton-scrollWrapped.svg
/target/classes/web/images/secondaryToolbarButton-selectTool.svg
/target/classes/web/images/secondaryToolbarButton-spreadEven.svg
/target/classes/web/images/secondaryToolbarButton-spreadNone.svg
/target/classes/web/images/secondaryToolbarButton-spreadOdd.svg
/target/classes/web/images/shadow.png
/target/classes/Stylesheet.css
/target/classes/web/images/toolbarButton-bookmark.svg
/target/classes/web/images/toolbarButton-currentOutlineItem.svg
/target/classes/web/images/toolbarButton-download.svg
/target/classes/web/images/toolbarButton-menuArrow.svg
/target/classes/web/images/toolbarButton-openFile.svg
/target/classes/web/images/toolbarButton-pageDown.svg
/target/classes/web/images/toolbarButton-pageUp.svg
/target/classes/web/images/toolbarButton-presentationMode.svg
/target/classes/web/images/toolbarButton-print.svg
/target/classes/web/images/toolbarButton-search.svg
/target/classes/web/images/toolbarButton-secondaryToolbarToggle.svg
/target/classes/web/images/toolbarButton-sidebarToggle.svg
/target/classes/web/images/toolbarButton-viewAttachments.svg
/target/classes/web/images/toolbarButton-viewLayers.svg
/target/classes/web/images/toolbarButton-viewOutline.svg
/target/classes/web/images/toolbarButton-viewThumbnail.svg
/target/classes/web/images/toolbarButton-zoomIn.svg
/target/classes/web/images/toolbarButton-zoomOut.svg
/target/classes/web/images/treeitem-collapsed.svg
/target/classes/web/images/treeitem-expanded.svg
/target/classes/web/cmaps/UniCNS-UCS2-H.bcmap
/target/classes/web/cmaps/UniCNS-UCS2-V.bcmap
/target/classes/web/cmaps/UniCNS-UTF8-H.bcmap
/target/classes/web/cmaps/UniCNS-UTF8-V.bcmap
/target/classes/web/cmaps/UniCNS-UTF16-H.bcmap
/target/classes/web/cmaps/UniCNS-UTF16-V.bcmap
/target/classes/web/cmaps/UniCNS-UTF32-H.bcmap
/target/classes/web/cmaps/UniCNS-UTF32-V.bcmap
/target/classes/web/cmaps/UniGB-UCS2-H.bcmap
/target/classes/web/cmaps/UniGB-UCS2-V.bcmap
/target/classes/web/cmaps/UniGB-UTF8-H.bcmap
/target/classes/web/cmaps/UniGB-UTF8-V.bcmap
/target/classes/web/cmaps/UniGB-UTF16-H.bcmap
/target/classes/web/cmaps/UniGB-UTF16-V.bcmap
/target/classes/web/cmaps/UniGB-UTF32-H.bcmap
/target/classes/web/cmaps/UniGB-UTF32-V.bcmap
/target/classes/web/cmaps/UniJIS2004-UTF8-H.bcmap
/target/classes/web/cmaps/UniJIS2004-UTF8-V.bcmap
/target/classes/web/cmaps/UniJIS2004-UTF16-H.bcmap
/target/classes/web/cmaps/UniJIS2004-UTF16-V.bcmap
/target/classes/web/cmaps/UniJIS2004-UTF32-H.bcmap
/target/classes/web/cmaps/UniJIS2004-UTF32-V.bcmap
/target/classes/web/cmaps/UniJIS-UCS2-H.bcmap
/target/classes/web/cmaps/UniJIS-UCS2-HW-H.bcmap
/target/classes/web/cmaps/UniJIS-UCS2-HW-V.bcmap
/target/classes/web/cmaps/UniJIS-UCS2-V.bcmap
/target/classes/web/cmaps/UniJIS-UTF8-H.bcmap
/target/classes/web/cmaps/UniJIS-UTF8-V.bcmap
/target/classes/web/cmaps/UniJIS-UTF16-H.bcmap
/target/classes/web/cmaps/UniJIS-UTF16-V.bcmap
/target/classes/web/cmaps/UniJIS-UTF32-H.bcmap
/target/classes/web/cmaps/UniJIS-UTF32-V.bcmap
/target/classes/web/cmaps/UniJISPro-UCS2-HW-V.bcmap
/target/classes/web/cmaps/UniJISPro-UCS2-V.bcmap
/target/classes/web/cmaps/UniJISPro-UTF8-V.bcmap
/target/classes/web/cmaps/UniJISX0213-UTF32-H.bcmap
/target/classes/web/cmaps/UniJISX0213-UTF32-V.bcmap
/target/classes/web/cmaps/UniJISX02132004-UTF32-H.bcmap
/target/classes/web/cmaps/UniJISX02132004-UTF32-V.bcmap
/target/classes/web/cmaps/UniKS-UCS2-H.bcmap
/target/classes/web/cmaps/UniKS-UCS2-V.bcmap
/target/classes/web/cmaps/UniKS-UTF8-H.bcmap
/target/classes/web/cmaps/UniKS-UTF8-V.bcmap
/target/classes/web/cmaps/UniKS-UTF16-H.bcmap
/target/classes/web/cmaps/UniKS-UTF16-V.bcmap
/target/classes/web/cmaps/UniKS-UTF32-H.bcmap
/target/classes/web/cmaps/UniKS-UTF32-V.bcmap
/target/classes/web/cmaps/V.bcmap
/target/classes/web/viewer.css
/target/classes/web/viewer.html
/target/classes/web/viewer.js
/target/classes/web/viewer.js.map
/target/classes/web/locale/ach/viewer.properties
/target/classes/web/locale/af/viewer.properties
/target/classes/web/locale/an/viewer.properties
/target/classes/web/locale/ar/viewer.properties
/target/classes/web/locale/ast/viewer.properties
/target/classes/web/locale/az/viewer.properties
/target/classes/web/locale/be/viewer.properties
/target/classes/web/locale/bg/viewer.properties
/target/classes/web/locale/bn/viewer.properties
/target/classes/web/locale/bo/viewer.properties
/target/classes/web/locale/br/viewer.properties
/target/classes/web/locale/brx/viewer.properties
/target/classes/web/locale/bs/viewer.properties
/target/classes/web/locale/ca/viewer.properties
/target/classes/web/locale/cak/viewer.properties
/target/classes/web/locale/ckb/viewer.properties
/target/classes/web/locale/cs/viewer.properties
/target/classes/web/locale/cy/viewer.properties
/target/classes/web/locale/da/viewer.properties
/target/classes/web/locale/de/viewer.properties
/target/classes/web/locale/dsb/viewer.properties
/target/classes/web/locale/el/viewer.properties
/target/classes/web/locale/en-CA/viewer.properties
/target/classes/web/locale/en-GB/viewer.properties
/target/classes/web/locale/en-US/viewer.properties
/target/classes/web/locale/eo/viewer.properties
/target/classes/web/locale/es-AR/viewer.properties
/target/classes/web/locale/es-CL/viewer.properties
/target/classes/web/locale/es-ES/viewer.properties
/target/classes/web/locale/es-MX/viewer.properties
/target/classes/web/locale/et/viewer.properties
/target/classes/web/locale/eu/viewer.properties
/target/classes/web/locale/fa/viewer.properties
/target/classes/web/locale/ff/viewer.properties
/target/classes/web/locale/fi/viewer.properties
/target/classes/web/locale/fr/viewer.properties
/target/classes/web/locale/fy-NL/viewer.properties
/target/classes/web/locale/ga-IE/viewer.properties
/target/classes/web/locale/gd/viewer.properties
/target/classes/web/locale/gl/viewer.properties
/target/classes/web/locale/gn/viewer.properties
/target/classes/web/locale/gu-IN/viewer.properties
/target/classes/web/locale/he/viewer.properties
/target/classes/web/locale/hi-IN/viewer.properties
/target/classes/web/locale/hr/viewer.properties
/target/classes/web/locale/hsb/viewer.properties
/target/classes/web/locale/hu/viewer.properties
/target/classes/web/locale/hy-AM/viewer.properties
/target/classes/web/locale/hye/viewer.properties
/target/classes/web/locale/ia/viewer.properties
/target/classes/web/locale/id/viewer.properties
/target/classes/web/locale/is/viewer.properties
/target/classes/web/locale/it/viewer.properties
/target/classes/web/locale/ja/viewer.properties
/target/classes/web/locale/ka/viewer.properties
/target/classes/web/locale/kab/viewer.properties
/target/classes/web/locale/kk/viewer.properties
/target/classes/web/locale/km/viewer.properties
/target/classes/web/locale/kn/viewer.properties
/target/classes/web/locale/ko/viewer.properties
/target/classes/web/locale/lij/viewer.properties
/target/classes/web/locale/lo/viewer.properties
/target/classes/web/locale/lt/viewer.properties
/target/classes/web/locale/ltg/viewer.properties
/target/classes/web/locale/lv/viewer.properties
/target/classes/web/locale/meh/viewer.properties
/target/classes/web/locale/mk/viewer.properties
/target/classes/web/locale/mr/viewer.properties
/target/classes/web/locale/ms/viewer.properties
/target/classes/web/locale/my/viewer.properties
/target/classes/web/locale/nb-NO/viewer.properties
/target/classes/web/locale/ne-NP/viewer.properties
/target/classes/web/locale/nl/viewer.properties
/target/classes/web/locale/nn-NO/viewer.properties
/target/classes/web/locale/oc/viewer.properties
/target/classes/web/locale/pa-IN/viewer.properties
/target/classes/web/locale/pl/viewer.properties
/target/classes/web/locale/pt-BR/viewer.properties
/target/classes/web/locale/pt-PT/viewer.properties
/target/classes/web/locale/rm/viewer.properties
/target/classes/web/locale/ro/viewer.properties
/target/classes/web/locale/ru/viewer.properties
/target/classes/web/locale/sat/viewer.properties
/target/classes/web/locale/sc/viewer.properties
/target/classes/web/locale/scn/viewer.properties
/target/classes/web/locale/sco/viewer.properties
/target/classes/web/locale/si/viewer.properties
/target/classes/web/locale/sk/viewer.properties
/target/classes/web/locale/sl/viewer.properties
/target/classes/web/locale/son/viewer.properties
/target/classes/web/locale/sq/viewer.properties
/target/classes/web/locale/sr/viewer.properties
/target/classes/web/locale/sv-SE/viewer.properties
/target/classes/web/locale/szl/viewer.properties
/target/classes/web/locale/ta/viewer.properties
/target/classes/web/locale/te/viewer.properties
/target/classes/web/locale/tg/viewer.properties
/target/classes/web/locale/th/viewer.properties
/target/classes/web/locale/tl/viewer.properties
/target/classes/web/locale/tr/viewer.properties
/target/classes/web/locale/trs/viewer.properties
/target/classes/web/locale/uk/viewer.properties
/target/classes/web/locale/ur/viewer.properties
/target/classes/web/locale/uz/viewer.properties
/target/classes/web/locale/vi/viewer.properties
/target/classes/web/locale/wo/viewer.properties
/target/classes/web/locale/xh/viewer.properties
/target/classes/web/locale/zh-CN/viewer.properties
/target/classes/web/locale/zh-TW/viewer.properties
/target/classes/com/daisydata/codescans/codeuploadsfx/WebController.class
/target/classes/web/cmaps/WP-Symbol.bcmap
